@model Clase4.POO.Web.Models.BatallaViewModel
@{
}

<h1>Batalla (@Model.Partida.Estado)</h1>
<form action="/partidas/batalla" method="post">
    <input type="hidden" value="@Model.Id" name="Id" />
    @* Jugador 1 *@
    <div class="form-group">
        <label>Jugador 1: @Model.Partida.Jugador1.Nombre (@Model.Partida.Jugador1.PersonajeElegido.Nombre)</label>

    </div>
    <div class="form-group">
        <label>
            HP: @Model.Partida.Jugador1.PersonajeElegido.HpActual / @Model.Partida.Jugador1.PersonajeElegido.HpInicial
        </label>
    </div>
    <div class="form-group">
        <label>
            Mana: @Model.Partida.Jugador1.PersonajeElegido.Mana
        </label>
    </div>
    <div class="form-group">
        <label for="IdJugador1HabilidadSeleccionada">Seleccionar Habilidad</label>
        <select id="IdJugador1HabilidadSeleccionada" name="IdJugador1HabilidadSeleccionada" class="form-control">
            @foreach (var habilidad in Model.Partida.Jugador1.PersonajeElegido.ObtenerHabilidadesDisponibles())
            {
                if (habilidad.TurnosPendientesParaEjecutar > 0)
                {
                    <option value="@habilidad.Id" disabled>@habilidad.Nombre (Turnos Pendientes: @habilidad.TurnosPendientesParaEjecutar, Coste Mana: @habilidad.Coste)</option>
                }
                else
                {
                    <option value="@habilidad.Id">@habilidad.Nombre (Coste Mana: @habilidad.Coste, Enfriamiento: @habilidad.Enfriamiento)</option>
                }
            }
        </select>
    </div>
    @if (Model.IdTurnoJugador == Model.Partida.Jugador1.Id)
    {
        if (Model.Jugador1PuedeUsarHabilidad)
        {
            <div class="form-group">
                <button name="accion" type="submit" class="btn btn-danger" value="EjecutarHabilidadJug1">Ejecutar Habilidad</button>
            </div>
        }
        <div class="form-group">
            <button name="accion" type="submit" class="btn btn-danger" value="EjecutarAtaqueBasicoJug1">Ejecutar Ataque Basico</button>
        </div>
    }
</form>
<form action="/partidas/batalla" method="post">
    <input type="hidden" value="@Model.Id" name="Id" />
    @* Jugador 2 *@
    <div class="form-group">
        <label>Jugador 2: @Model.Partida.Jugador2.Nombre (@Model.Partida.Jugador2.PersonajeElegido.Nombre)</label>

    </div>
    <div class="form-group">
        <label>
            HP: @Model.Partida.Jugador2.PersonajeElegido.HpActual / @Model.Partida.Jugador2.PersonajeElegido.HpInicial
        </label>
    </div>
    <div class="form-group">
        <label>
            Mana: @Model.Partida.Jugador2.PersonajeElegido.Mana
        </label>
    </div>
    <div class="form-group">
        <label for="IdJugador2HabilidadSeleccionada">Seleccionar Habilidad</label>
        <select id="IdJugador2HabilidadSeleccionada" name="IdJugador2HabilidadSeleccionada" class="form-control">
            @foreach (var habilidad in Model.Partida.Jugador2.PersonajeElegido.ObtenerHabilidadesDisponibles())
            {
                if (habilidad.TurnosPendientesParaEjecutar > 0)
                {
                    <option value="@habilidad.Id" disabled>@habilidad.Nombre (Turnos Pendientes: @habilidad.TurnosPendientesParaEjecutar, Coste Mana: @habilidad.Coste)</option>
                }
                else
                {
                    <option value="@habilidad.Id">@habilidad.Nombre (Coste Mana: @habilidad.Coste, Enfriamiento: @habilidad.Enfriamiento)</option>
                }
            }
        </select>
    </div>

    @if (Model.IdTurnoJugador == Model.Partida.Jugador2.Id)
    {
        if (Model.Jugador2PuedeUsarHabilidad)
        {
            <div class="form-group">
                <button name="accion" type="submit" class="btn btn-danger" value="EjecutarHabilidadJug2">Ejecutar Habilidad</button>
            </div>
        }
        <div class="form-group">
            <button name="accion" type="submit" class="btn btn-danger" value="EjecutarAtaqueBasicoJug2">Ejecutar Ataque Basico</button>
        </div>
    }

</form>

