@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@section Scripts {
    <link href="https://cdn.datatables.net/v/dt/dt-2.3.8/datatables.min.css" rel="stylesheet" integrity="sha384-1BvCnyKidMPIGQGjvMn+w+90hHBhYJtF+R7os4NX2Abe7tSxWQadHRTSH5qb559A" crossorigin="anonymous">
    <script src="https://cdn.datatables.net/v/dt/dt-2.3.8/datatables.min.js" integrity="sha384-kjkli48Tmhwhaghq0IIRm8gFmMdnihfu1ywAOyyGWYMsoZZi/6AX2fWzpsqahoFw" crossorigin="anonymous"></script>

    <script>
            new DataTable('#tblJuguetes', {
        language: {
            url: '//cdn.datatables.net/plug-ins/2.3.8/i18n/es-ES.json',
        },
        });
    </script>
}
@model IEnumerable<Clase6.EF.Entidades.Juguete>

<h1>Juguetes</h1>

@* select option FabricanteId y boton Filtrar *@
<form method="get" class="mb-3">
    <div class="form-group">
        <label for="fabricanteId">Filtrar por Fabricante:</label>
        <select name="fabricanteId" id="fabricanteId" class="form-control">
            <option value="">Todos</option>
            @foreach (var fabricante in ViewBag.Fabricantes)
            {
                if ((int)ViewBag.FabricanteIdSeleccionado == fabricante.Id)
                {
                    <option value="@fabricante.Id" selected>@fabricante.Nombre</option>
                }
                else
                {
                    <option value="@fabricante.Id">@fabricante.Nombre</option>
                }
            }
        </select>
    </div>
    <button type="submit" class="btn btn-primary mt-2">Filtrar</button>
</form>


<div class="mb-3">
    <a href="/juguetes/agregar" class="btn btn-primary">Crear Nuevo Juguete</a>
</div>

<table class="table" id="tblJuguetes">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Precio</th>
            <th>Edad Recomendada</th>
            <th>Eliminar</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var juguete in Model)
        {
            <tr>
                <td><a href="/juguetes/editar/@juguete.Id">@juguete.Nombre</a></td>
                <td>@juguete.Precio</td>
                <td>@juguete.EdadRecomendada</td>
                <td><a href="/juguetes/eliminar/@juguete.Id">Eliminar</a></td>
            </tr>
        }
    </tbody>
</table>
